* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/DSC06807-Vylepšené-NR.jpg);
}

header {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: rgb(194, 227, 255);
}

h1 {
  font-family: Tahoma;
}

.value-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Tahoma;
  box-shadow: 5px 5px 20px black;
  margin-top: px;
}

.airport-name {
  color: aliceblue;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10Spx;
  padding: 10px;
}

.one-value {
  text-align: center;
  margin: 10px;
  color: rgb(129, 193, 245);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.one-button {
  margin: 10px;
  margin-top: 0px;
  font-size: 48px;
  color: rgb(194, 227, 255);
  cursor: pointer;
}

footer {
  text-align: center;
  line-height: 50px;
  font-family: Tahoma;
}
